<!DOCTYPE html>
<html>
<head>
    <title>Table Example</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="main-container">
    <table>
        <thead>
            <tr>
                {% for header in headers %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                {% for value in row %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2 class="title">Plots</h2>
    <div class="plots">
        <img class="plot" src="data:image/png;base64,{{ plot_data1 }}" alt="Plot 1">
        <img class="plot" src="data:image/png;base64,{{ plot_data2 }}" alt="Plot 2">
    </div>

</body>
</html>